.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;	
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: $whiteColor;
	padding: 50px 40px 40px;
	width: 100%;
	max-width: 500px;
	border-radius: 10px;
	.lock & {
		visibility: visible;
	}
}
.popup__close {
	position: absolute;		
	top: 15px;
	right: 17px;
	font-size: rem(20);
	line-height: 1;
	padding: 5px;
}
 
.popup__form {

}

.form-popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 30px;

	&__group {		
		display: flex;
		flex-direction: column;		
	}

	&__label {
		font-weight: 700;	
		line-height: 1.5;	
		text-transform: uppercase;			
	}

	&__input {
		padding: 10px 0px;
		border-bottom: 2px solid $goldColor;
	}

	&__btn {	
		padding: 12px 34px !important;
		@media (min-width:$mobileSmall){
			align-self: center;  
		}		
	}
}

